

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: georgia, sans-serif;
  font-size: 14px;
}

.logo__api {
  text-align: start;
  font-size: 4em;
}

.logo__api img {
  width: 2em;
}

.logo__nyt {
  text-align: end;
}

.logo__nyt img {
  width: 2em;
}

.logo__title {
  text-align: center;
  font-size: 4em;
}

.logo__title img {
  max-width: 80%;
  height: auto;
}

.heading-line1 {
  display: block;
  height: 0.1em;
  background-color: #ddd;
}

.heading-line2 {
  display: block;
  margin-bottom: 0.1em;
  height: 0.1em;
  background-color: #000;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin: 1em;
  font-size: 0.9em;
  border-radius: 3em;
  cursor: pointer;
  transition: 0.3s;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 2em;
  justify-content: center;
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5em;
}

.article {
  background: #fff;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  padding-bottom: 0.5em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}


.article:hover .article-title {
  color: grey;
}

.article__title-container {
  height: 13em;
}

.article-title {
  padding-bottom: 1em;
}

.article-description {
  line-height: 25px;
  color: #555;
}

.article-image {
  position: relative;
  margin: 0.5em 0em;
  overflow: hidden;
  height: 15em;
}

.article-image img {
  position: relative;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}

.article:hover .article-image img {
  transform: translate(-50%, -50%) scale(1.1);
}

.article-div {
  padding: 0.5em 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

@media screen and (min-width: 740px) {
  body {
    padding: 0 3%;
  }

  .news-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1070px) {
  html {
    font-size: 18px;
  }

  body {
    margin: auto;
    max-width: 1200px;
  }
  .news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
